#calculater {
  background-color: gray;
  height: 30rem;
  width: 25rem;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 1px 2px 2px black;

}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 20rem;
  width: 20rem;
  color: rgb(145, 24, 24);
}

#input {
  height: 5rem;
  background-color: gray;
  width: 20rem;
  border: none;
  text-align: end;

}

/* -------------------------------- calculater css 🔝 */

/* 
body.light {
  background-color: #ffffff;
  color: #000000;

}

 body.dark {
  background-color: #121212;
  color: #ffffff;

} */

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-border: #000;
  --modal-bg: #fff;
  --modal-border: #ccc;
  --btn-close-filter: invert(0);

}


/* dark-theme ke liye */

[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-border: #fff;
  --modal-bg: #1e1e1e;
  --modal-border: #444;
  --btn-close-filter: invert(1);
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);

}

.card {
  background-color: var(--card-bg) ! important;
  color: var(--text-color) !important;
  border: 2px solid var(--card-border) !important;
}

#exampleModal .modal-content {
  background-color: var(--modal-bg) ! important;
  color: var(--text-color) !important;
  border: 2px solid var(--modal-border) !important;
}

#exampleModal .btn-close {
  filter: var(--btn-close-filter);
}


/* --------------- */

#nav {
  background-color: #000000c8;
  border: 2px solid rgba(255, 255, 255, 0.673);
}

#reg {
  background: linear-gradient(to right, rgba(108, 103, 103, 0.656), rgba(19, 19, 155, 0.612));
  height: 25rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 2px 5px 3px 3px black
}

.input,
.regButton {
    height: 2.5rem;
  width: 20rem;
  border-radius: 20px;
  margin-top: 5px;
}

#heading1 {
  font-size: 6em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: capitalize;
  color: red;

}

#heading2 {
  text-transform: capitalize;
  font-size: 3rem;
  margin-left: 1rem;

}

#heading3 {
  text-transform: capitalize;
  font-size: 4rem;
  margin-left: 2rem;
  display: inline;
  color: blue;

}

#heading4 {
  text-transform: capitalize;
  font-size: 5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 5px;
}



#login {
  background: linear-gradient(to right, rgba(197, 171, 20, 0.63), rgba(22, 135, 180, 0.707));
  height: 25rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 2px 5px 3px 3px black;

}

.input,
.logButton {
  height: 2.5rem;
  width: 20rem;
  border-radius: 20px;
  margin-top: 5px;
}



#logHeading1 {
  font-size: 4.5rem;
  text-transform: capitalize;
  text-align: center;
}

#logHeading2 {
  font-size: 2rem;
  text-align: center;
}

#startPageHeading {
  font-size: 2.7rem;
  font-family: fantasy;
  text-align: center
}

.startPagePara {
  text-align: center;
  font-family: cursive;
}